@import "_mixins";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

body {
  width: inherit;
  height: 100vh;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 100%;
  height: inherit;
  display: flex;
}

.wrapper > header {
  padding: 0;
  margin: 0;
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100%;
  width: 33%;
  color: #e7473c;
  background-color: #f0f0f0;

  .header-title {
    padding: 15% 0 5% 11%;
    font-family: "Nosifer", cursive;
    font-size: 50px;
    font-weight: lighter;
    line-height: 1.2em;
  }

  h1 {
    margin: 0;
  }

  .header-text {
    padding: 45px 60px 45px 45px;
    font-weight: 700;
    text-align: justify;

    span {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 1.4em;
    }

    p {
      width: 82%;
      font-size: 11px;
      line-height: 1.4em;
      margin: 1.7em 0em;
    }

    footer {
      display: flex;
      flex-wrap: wrap;
      a {
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        padding-bottom: 0.5em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-size: 7px;
        margin-right: 10px;
        margin-top: 10px;
        &:hover {
          color: black;
          border-bottom: 1px solid rgb(0, 0, 0);
        }
      }
    }
  }
}

.movies {
  display: grid;
  grid-template-columns: 1;

  grid-template-rows: 100vh;
  width: 67%;
  position: absolute;
  right: 0%;
  background-color: #e2463b;
  article {
    height: inherit;
    color: rgb(243, 243, 243);
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e2463b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 40px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 8px 12px -18px inset;
    .movie-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h2 {
        text-transform: uppercase;
        margin-bottom: 10px;
        font-family: "Mukta", sans-serif;
        font-size: 20px;
      }
      span {
        font-size: 5px;
        font-weight: 700;
      }
    }

    .movie-video {
      display: flex;

      margin-top: 0px;
      margin-bottom: 10px;
      a {
        img {
          height: 100%;
          width: 100%;
          box-shadow: 0 80px 80px -80px #000, 0 0 12px rgb(0 0 0 / 6%),
            inset 0 0 0 1px rgb(0 0 0 / 20%);
        }
      }
    }

    .movie-footer {
      display: flex;
      justify-content: space-between;
      font-size: 5px;
      font-weight: 700;
    }

    .thumbs {
      display: flex;
    }
    .thumbs-up,
    .thumbs-down {
      display: flex;
      flex-direction: column;
      color: rgba(240, 236, 236, 0.856);
      i {
        color: white;
        margin: 5px;
      }
    }
  }
}
